{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}

<h3>Latest Blog Post</h3>
{% set blog_section = get_section(path="blog/_index.md") %}
{% for posts in blog_section.pages %}
     {% if loop.index <= 1 %}
     <ul>
	     <li><b>{{ posts.title }}</b></li>
	     <li>{{ posts.date }}</li>

     		<li>{{ posts.summary | safe}}</li>
    <li> <a href="{{ posts.permalink }}#continue-reading">Continue Reading</a></li>
     </ul>
     {% endif %}
{% endfor %}

<h3>Latest Work</h3>
{% set work_section = get_section(path="work/_index.md") %}
{% for posts in work_section.pages %}
  {% if loop.index <= 1 %}
    <ul>
      <li><b>{{ posts.title }}</b></li>
      {{ posts.content | safe}}
    </ul>
  {% endif %}
{% endfor %}

<h3>Github Activity</h3>
<iframe src="https://jandee.vercel.app/carlocarfora?scheme=dark" width="100%" height="200" frameborder="0" style="border-radius: 4px;" class="github-calendar-dark"></iframe>
<iframe src="https://jandee.vercel.app/carlocarfora?scheme=light" width="100%" height="200" frameborder="0" style="border-radius: 4px;" class="github-calendar-light"></iframe>

{% if config.extra.list_pages %}

{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

<ul class="titleList">
{% for page in pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <br />
    {{ page.description }}
  </li>
{% endfor %}
</ul>

{% if paginator %}
<div class="metaData">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a href="{{ paginator.previous }}"><</a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}

{% endif %}
{% endblock content %}
