{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{% if section.toc and section.extra.toc %}
<ul>
  {% for h1 in section.toc %}
  <li>
    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
    {% if h1.children %}
    <ul>
      {% for h2 in h1.children %}
      <li>
        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        <ul>
          {% for h3 in h2.children %}
          <li>
            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{{ section.content | safe }}

{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

<div>
{% set section = get_section(path="work/_index.md") %}
    {% for page in section.pages %}
	<ul>
		<li>
		<a href="{{ page.permalink | safe }}">
			{{page.title}}
		</a>
		</li>	
	</ul>
	{%- endfor %}
</div>

{% if paginator %}
<div class="accent-data">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a href="{{ paginator.previous }}"><</a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}
{% endblock content %}
